<div class="row">
  <div class="col-1"></div>
  <div class="col-11 border-bottom border-light mt-3">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        Welcome to the Postman Companion - a small collection of tools implemented by the Solutions team to make some aspects of your Postman life easier
      </a>
    </nav>
  </div>
</div>
