<form>
  <div class="row">
    <div class="form-group col-sm-5">
      <label for="propertyName">Property</label>
      <input type="email" class="form-control form-control-sm" id="propertyName" placeholder="Email">
    </div>
    <div class="form-group col-sm-2">
      <label for="condition">Condition</label>
      <select class="form-control-sm" id="exampleFormControlSelect1">
        <option>=</option>
        <option>&gt;</option>
        <option>&lt;</option>
      </select>
    </div>
    <div class="form-group col-sm-5">
      <label for="propertyValue">Value</label>
      <input type="password" class="form-control form-control-sm" id="propertyValue" placeholder="Password">
    </div>
  </div>
</form>
