/**********************************************************************/
/* Begin section of classes customized for Governance Rule Playground */
/**********************************************************************/

h5 {
  margin-top: 20px;
}

p {
  margin-bottom: 2px;
}

#spectralRule,
#openApiSpec,
#spectralCustomFunctions {
  height: 400px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1em;
}

.resultTable,
.resultTable thead tr th{
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  vertical-align: middle;
}

#spectralResultsError {
  display: none;
  padding: 20px;
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

/* JSONTree Styles */
.json-container, .json-key {
  background-color: transparent !important;
  color: white !important;
  font-family: 'Courier New', Courier, monospace !important;
}

/****************************************************************/
/* Begin section of classes customized for Visual Test Composer */
/****************************************************************/

#jsonEditor,
#testJSEditor {
  height: 70vh;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1em;
}

.custom-form-styling {
  padding: 0rem .5rem;
  font-size: 0.8rem;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  min-height: .7rem;
  min-width: 100%
}

.custom-container {
  height: 70vh;
  overflow-y:auto;
}

.custom-btn {
  margin-bottom: 0;
  font-family: 'Courier New', Courier, monospace;
}
