body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin-bottom: 2px;
}

button {
  margin-bottom: 20px;
}

pre {
  max-height: 400px;
  overflow: scroll;
}

pre[class*='language-'] {
  margin-top: 2px;
}

.copy {
  position: relative;
  float: right;
  background-color: gray;
  padding: 2px 5px;
  cursor: pointer;
  display: none;
}

#spectralRule,
#openApiSpec {
  width: 36vw;
  height: 400px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.1em;
}

.info p {
  margin-top: 10px;
  font-size: 1em;
}

.info h1,
h2,
h3,
h4 {
  color: rgb(210, 210, 104);
}

.info,
h3,
h4 {
  margin-top: 15px;
}