body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
  margin-top: 20px;
}

p {
  margin-bottom: 2px;
}

button {
  margin-bottom: 20px;
}

pre {
  max-height: 400px;
  overflow: scroll;
}

pre.small {
  max-width: 400px;
}

pre[class*='language-'] {
  margin-top: 2px;
}

.copy {
  position: absolute;
  right: 40px;
  background-color: gray;
  padding: 2px 5px;
  cursor: pointer;
  display: none;
}

#spectralRule,
#openApiSpec,
#spectralCustomFunctions {
  width: 32vw;
  height: 400px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1em;
}

.info p {
  margin-top: 10px;
  font-size: 1em;
}

.info,
h3,
h4 {
  margin-top: 15px;
}

.infolink:before {
  content: '?';
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 3ex;
  height: 3ex;
  font-size: 2.5ex;
  line-height: 2.7ex;
  border-radius: 3ex;
  margin-right: 4px;
  padding: 1px;
  color: white;
  background: grey;
  border: 1px solid grey;
  text-decoration: none;
}

.infolink:hover:before {
  color: white;
  background: grey;
  border-color: white;
  text-decoration: none;
}

.modal {
  color: black;
}

.resultTable {
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  vertical-align: middle;
}

#spectralResultsError {
  display: none;
  padding: 20px;
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
