<html>

<head>
  <title>Governance Rules Playground</title>
  <!-- CSS only -->
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous' />
  <link rel='stylesheet' href='css/prism.css' />
  <link rel='stylesheet' href='css/styles.css' />
</head>

<body class=''>
  <div class='container-fluid'>
    <div class="row">
      {{> nav}}
    </div>
    <div class="row">
      <div class="col-1 border-end border-light mt-3">
        <a href="/governancePlayground">
          <button type="button" class="btn btn-light">
            Governance Rules Playground
          </button>
        </a>
        <a href="/testComposer">
          <button type="button" class="btn btn-light">
            Visual Test Composer
          </button>
        </a>
      </div>
      <div class="col-11">
        {{> modals}}
        {{{body}}}
      </div>
    </div>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3'
    crossorigin='anonymous'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.3/ace.js'
    integrity='sha512-yARx+3W/tyZPXyRfZ4DLRdj0rXF2yjH2D6bKpPslrl1c62Q6ZC808L++ft9jkzIN9vmLtQCFsYNrzoOE/Im2Dg=='
    crossorigin='anonymous' referrerpolicy='no-referrer'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/ext-language_tools.min.js'
    integrity='sha512-yszTJ9Ko+JGmUNZYpHStWpMg2rSXrh2WjSSZGydzpHY+qOS/3nSgA+hBHUK3RvLhfjycKL8XWEmfUCZod/mEqA=='
    crossorigin='anonymous' referrerpolicy='no-referrer'></script>

  <script src='https://cdn.jsdelivr.net/npm/marked/marked.min.js'></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js'
    integrity='sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg=='
    crossorigin='anonymous' referrerpolicy='no-referrer'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js'
    integrity='sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw=='
    crossorigin='anonymous' referrerpolicy='no-referrer'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/2.2.2/json2html.min.js"
    integrity="sha512-LYBxdtbgyLlB9aFozpSH9IpPpP+7t+tRoBG7VhLJ2APxcstLkyMI78qCaLwoIEQwKzbdS0VdK9o3ps4q6NT1cQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <script src='js/script.js'></script>
</body>

</html>