<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-4 mt-3">
                <p><strong>JSON Response from API of Interest</strong></p>
<pre id="testComposerJSONPayload">
{
  "coord": {
    "lon": -122.08,
    "lat": 37.39
  },
  "weather": [
    {
      "id": 800,
      "main": "Clear",
      "description": "clear sky",
      "icon": "01d"
    }
  ],
  "base": "stations",
  "main": {
    "temp": 22.7,
    "feels_like": 20.6,
    "pressure": 1013,
    "humidity": 45
  },
  "visibility": 16093,
  "wind": {
    "speed": 3.6,
    "deg": 0
  },
  "clouds": {
    "all": 0
  },
  "dt": 1629025973,
  "sys": {
    "type": 1,
    "id": 5817,
    "country": "US",
    "sunrise": 1629002641,
    "sunset": 1629052889
  },
  "timezone": -25200,
  "id": 420006353,
  "name": "San Francisco",
  "cod": 200
}
</pre>
            </div>
            <div class="col-4 mt-3">
              <p><strong>Tests</strong></p>
              <div id="rulecontainer">
              </div>
            </div>
            <div class="col-4 mt-3">
              <p><strong>Test JS (paste this into the Tests tab within Postman)</strong></p>
              <pre id="testJS">
let x = y;
              </pre>
            </div>
        </div>
    </div>
</div>
